<div id="nav-bar">
    <input id="nav-toggle" type="checkbox"/>
    <div id="nav-header">
        <h3>The Test Pulse</h3>
    </div>

    <div id="nav-content">
      <div class="nav-button"><i class="fas fa-images"></i><span><a href="/currentaffairs">Monthly Current Affairs</a></span></div>
      <div class="nav-button"><i class="fas fa-thumbtack"></i><span><a href="/blogs/show">Blogs Platform</a></span></div>
      <hr/>
      <div class="nav-button"><i class="fas fa-heart"></i><span><a href="/jobs/allopenings">New Jobs</a></span></div>
      <div class="nav-button"><i class="fas fa-chart-line"></i><span>Trending</span></div>
      <div class="nav-button"><i class="fas fa-fire"></i><span><a href="/ai">Ai Mitra</a></span></div>
      <div class="nav-button"><i class="fas fa-magic"></i><span><a href="/testportal">Test Series</a></span></div>
      <hr/>
      <div class="nav-button"><i class="fas fa-gem"></i><a href="/login">Login/Signup</a></span></div>
      <div id="nav-content-highlight"></div>
    </div>

    
    <div id="nav-footer">

      <div id="nav-footer-heading">
        <div id="nav-footer-avatar"><img src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547"/></div>
        <div id="nav-footer-titlebox"><a id="nav-footer-title" href="https://codepen.io/uahnbu/pens/public" target="_blank">User</a><span id="nav-footer-subtitle">Admin</span></div>
        <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
      </div> 
      
    </div>
  </div>