<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/login.css">
  <title>Document</title>
</head>
<body>
  <div id="form-container"></div>

    <form method="post" action="/signup">
      <label for="email">Name:</label>
      <input type="String" id="email" name="Name" placeholder=" " required>
      <label for="email">Email:</label>
      <input type="String" id="email" name="Email" placeholder=" " required>
      <label for="password">Password:</label>
      <input type="String" id="password" name="Password" pattern=".{8,}" required title="Password must contain at least 8 or more characters" placeholder=" ">
      <input type="submit" value="Sign Up">
      <p id="form-login">Already a member? <a href="#">Log in</a></p>
    </form>
  </div>
</body>
</html>