<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/blogsnew.css">
    <title>New Blog</title>
</head>
<body>

    <div class="segment">
        <h1>New Blog</h1>
      </div>

    <form action="/blogs/new" method="POST">
        <label>
        <input type="date" name="date" placeholder="Select date"/>
        </label>
        <label>
        <input type="text" name="title" placeholder="Enter title"/>
        </label>
        <label>
        <textarea name="event" id="" placeholder="Enter events"></textarea>
        </label>

        <button type="submit" class="red" type="button"><i class="icon ion-md-lock"></i>Submit</button>
        
      </form>
</body>
</html>