<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
   
    <div id="form-main-div">
    <form class="form" action="/admin/create/batch" method="POST" encType="multipart/form-data">
        <h3>Create Batch</h3>
        <div class="flex-column">
          <label>Title</label>
        </div>
          <div class="inputForm">
            <input placeholder="Enter Batch Title" name="name" class="input" type="text"/>
          </div>
        
          <div class="flex-column">
            <label>Class</label>
          </div>
            <div class="inputForm">
              <input class="input" name="grade"/>
            </div>

        <div class="flex-column">
          <label>Upload Thumbnail</label>
        </div>
          <div class="inputForm">
            <input class="input" name="file" type="file"/>
          </div>

          <div class="flex-column">
            <label>Description</label>
          </div>
            <div class="inputForm">
              <input class="input" name="descritption" type="text"/>
            </div>

            <div class="flex-column">
              <label>Description</label>
            </div>
              <div class="inputForm">
                <input class="input" name="amount" type="number"/>
              </div>
            
            <div class="flex-column">
              <label>Tag</label>
            </div>
              <div class="inputForm">
                <input class="input" name="tag" type="text"/>
              </div>    
    
             
        
        

        <button type="submit" class="button-submit">Create Batch</button>

</form>
</div>

</body>
</html>