<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
        <a href="/admin/create">Create New Test</a>
    </div>
    <a href="/student/tests">Show all tests</a>

    <a href="/tests">Create From Library</a>

    <a href="/create/question/bank">Create From Library</a>

    <!-- <a href="/create-ques">create ques</a> -->


</body>
</html>