<div class="stats">
    <div id="links" style="display: flex; gap: 10px;">

      <div>
        <div class="stat-card">
          <i class="fas fa-user icon-blue">
          </i>
          <h3>
           10K
          </h3>
          <p>
           Visitors
          </p>
         </div>
         <div class="stat-card" style="margin-top: 10px;">
          <i class="fas fa-volume-up icon-green">
          </i>
          <h3>
           100%
          </h3>
          <p>
           Volume
          </p>
         </div>
      </div>

      <div>
        <div class="stat-card">
          <i class="fas fa-share-alt icon-purple">
          </i>
          <h3>
           1000
          </h3>
          <p>
           Share
          </p>
         </div>
         <div class="stat-card" style="margin-top: 10px;">
          <i class="fas fa-sitemap icon-orange">
          </i>
          <h3>
           600
          </h3>
          <p>
           Network
          </p>
         </div>
      </div>
      
    </div>

    
        
    <div id="achieve" style="display: flex; flex-direction: column; gap: 10px;">
      <div class="stat-card" style="background-color: #007bff; color: white; display: flex; justify-content: center; align-items: center;">
        <i class="fas fa-star">
        </i>
        <h3>
         4000+
        </h3>
        <p>
         Ratings Received
        </p>
       </div>
       <div class="stat-card" style="background-color: #007bff; color: white; display: flex; justify-content: center; align-items: center;">
        <i class="fas fa-trophy">
        </i>
        <h3>
         17
        </h3>
        <p>
         Achievements
        </p>
       </div>
    </div>

   </div>