<div class="stats">
    <div id="links" style="display: flex; gap: 10px;">

      <div>
        <div class="stat-card">
          <i class="fas fa-user icon-blue">
          </i>
          <h3>
           <%= details.users %>
          </h3>
          <p>
            Users
          </p>
         </div>
         <div class="stat-card" style="margin-top: 10px;">
          <i class="fas fa-book-reader icon-green">
          </i>
          <h3>
            <%= details.questions %>
          </h3>
          <p>
           Total Questions
          </p>
         </div>
      </div>

      <div>
        <div class="stat-card">
          <i class="fas fa-book-reader icon-purple">
          </i>
          <h3>
            <%= details.tests %>
          </h3>
          <p>
           Total Tests
          </p>
         </div>
         <div class="stat-card" style="margin-top: 10px;">
          <i class="fas fa-sitemap icon-orange">
          </i>
          <h3>
            <%= details.totalPurchasedBatches %>
          </h3>
          <p>
           Total Subscriptions
          </p>
         </div>
      </div>
      
    </div>

    
        
    <div id="achieve" style="display: flex; flex-direction: column; gap: 10px;">
      <div class="stat-card" style="background-color: #007bff; color: white; display: flex; justify-content: center; align-items: center;">
        <i class="fas fa-star">
        </i>
        <h3>
         4000+
        </h3>
        <p>
         Ratings Received
        </p>
       </div>
       <div class="stat-card" style="background-color: #007bff; color: white; display: flex; justify-content: center; align-items: center;">
        <i class="fas fa-trophy">
        </i>
        <h3>
         17
        </h3>
        <p>
         Achievements
        </p>
       </div>
    </div>

   </div>