   <h2>
    Enrolled Courses
   </h2>
   <div class="card1">
    <img alt="Object oriented programming" height="50" src="https://storage.googleapis.com/a1aa/image/0v5DynfZcvQ5PKHjfaJ2AU5mzLiTqTxWBFBY1iUMOgMU1RrTA.jpg" width="50"/>
    <p>
     Object oriented programming
    </p>
    <button>
     View
    </button>
   </div>
   <div class="card1">
    <img alt="Fundamentals of database systems" height="50" src="https://storage.googleapis.com/a1aa/image/0bgPzkbYSkphG1pD4TsWOoNGLaXUfCS8GdDWEN81VZcp6o1JA.jpg" width="50"/>
    <p>
     Fundamentals of database systems
    </p>
    <button>
     View
    </button>
   </div>