<div class="card-container">
    <div style="margin-bottom: 10px;" class="card" onclick="openLink('/show/purchasedbatches')">
     <img alt="Icon of an open book with a bookmark" height="50" src="https://storage.googleapis.com/a1aa/image/qcWFgbl9cabeJakOWQW9hUfTOXbMgFrzLePgqcJbpMjrMtWnA.jpg" width="50"/>
     <h2>
      My Batches
     </h2>
     <p>
      View list of batches in which you are enrolled.
     </p>
    </div>
    <div style="margin-bottom: 10px;" class="card">
     <img alt="Icon of two crossed swords" height="50" src="https://storage.googleapis.com/a1aa/image/df1ba0Gt5UyqdyAfL0RVlwdZ3Z9ReBfmyd5BfktS7fxAmp16E.jpg" width="50"/>
     <h2>
      Quiz
     </h2>
     <p>
      View all quizzes here
     </p>
    </div>
    <div style="margin-bottom: 10px;" class="card">
     <img alt="Icon of a person with question marks around their head" height="50" src="https://storage.googleapis.com/a1aa/image/zIGDTC2psGroKV3kWXDV4fWle5X49df4cOfsFPw1Uev2y0adC.jpg" width="50"/>
     <h2>
      My Doubts
     </h2>
     <p>
      View the list of your asked doubts.
     </p>
   </div>

   <script>
      function openLink(url) {
        window.location.href = url;
      }
    </script>