<a href="/">
    <i class="fas fa-home">
    </i>
    <span>
     Home
    </span>
   </a>
   <a href="/showallbatches">
    <i class="fas fa-store">
    </i>
    <span>
     store
    </span>
   </a>
   <a href="/showfreebatches">
    <i class="fas fa-book"></i> <!-- Font Awesome "Messages" icon -->
    <span>Free</span>
</a>
   <a href="/show/purchasedbatches">
    <i class="fas fa-book">
    </i>
    <span>
     Study
    </span>
   </a>
   <a href="/user/contact">
    <i class="fas fa-user">
    </i>
    <span>
     Contact
    </span>
    
   </a>