<img alt="Logo" height="100" src="/images/logo.png" width="100"/>
<h4>TheTestPulse</h4>
<a class="active" href="#">
 <i class="fas fa-home">
 </i>
 Home
</a>
<!-- <a href="#">
 <i class="fas fa-money-check-alt">
 </i>
 Payment Info
</a>
<a href="#">
 <i class="fas fa-clipboard-list">
 </i>
 Registration
</a> -->
<a href="/show/purchasedbatches">
 <i class="fas fa-book">
 </i>
 Courses
</a>
<a href="/showallbatches">
 <i class="fas fa-store">
 </i>
  Store
</a>
<!-- <a href="#">
 <i class="fas fa-chart-bar">
 </i>
 Result
</a>
<a href="#">
 <i class="fas fa-bell">
 </i>
 Notice
</a>
<a href="#">
 <i class="fas fa-calendar-alt">
 </i>
 Schedule
</a> -->
<a href="/user/my-info">
 <i class="fas fa-user">
 </i>
 Info
</a>