
  <div class="testpulse-sidebar">
   <div class="testpulse-logo">
    <img alt="THETESTPULSELOGO" height="50" src="/images/logo.png" width="50"/>
    <span>
     The Test Pulse
    </span>
   </div>
  
   <a class="testpulse-menu-item" href="/">
    <i class="fas fa-home">
    </i>
    Dashboard
   </a>
   
   <a class="testpulse-menu-item" href="/show/purchasedbatches">
    <i class="fas fa-users">
    </i>
    My Batches
   </a>

   <a class="testpulse-menu-item" href="/showfreebatches">
    <i class="fas fa-shopping-cart">
    </i>
    Free Batches
   </a>
   
   <a class="testpulse-menu-item" href="/showallbatches">
    <i class="fas fa-shopping-cart">
    </i>
    Store
   </a>

   <a class="testpulse-menu-item" href="#">
    <i class="fas fa-file-alt">
    </i>
    Test Series
   </a>

   <a class="testpulse-menu-item" href="#">
    <i class="fas fa-book-reader">
    </i>
    Library
   </a>
   <a class="testpulse-menu-item" href="#">
    <i class="fas fa-share-alt">
    </i>
    Refer &amp; Earn
   </a>
   

   <a class="testpulse-menu-item" href="#">
    <i class="fas fa-chart-line">
    </i>
    Our results
   </a>

  
   <a class="testpulse-menu-item" href="/user/support">
    <i class="fas fa-phone">
    </i>
    Contact Us
   </a>

   <a class="testpulse-menu-item" href="/user/info">
    <i class="fas fa-user">
    </i>
    Info
   </a>
   <br>
   <a class="testpulse-menu-item" href="/user/logout">
    <i class="fas fa-info">
    </i>
    Log out
   </a>

  </div>
 