<img alt="Logo" height="50" src="https://storage.googleapis.com/a1aa/image/1e0qODOBqjRfI0bGj5peaToyW3KVuECYtxD3XFdwZ5vgqjWnA.jpg" width="50"/>
<a class="active" href="#">
 <i class="fas fa-tachometer-alt">
 </i>
 Dashboard
</a>
<a href="#">
 <i class="fas fa-money-check-alt">
 </i>
 Payment Info
</a>
<a href="#">
 <i class="fas fa-clipboard-list">
 </i>
 Registration
</a>
<a href="#">
 <i class="fas fa-book">
 </i>
 Courses
</a>
<a href="#">
 <i class="fas fa-calendar-times">
 </i>
 Drop Semester
</a>
<a href="#">
 <i class="fas fa-chart-bar">
 </i>
 Result
</a>
<a href="#">
 <i class="fas fa-bell">
 </i>
 Notice
</a>
<a href="#">
 <i class="fas fa-calendar-alt">
 </i>
 Schedule
</a>
<a href="#">
 <i class="fas fa-sign-out-alt">
 </i>
 Info
</a>