   <img alt="App logo" class="app-logo" height="24" src="/images/logo.png" width="24"/>
   <h1 class="app-name-card">The Test Pulse</h1>
   <div class="profile-picture">
    <a href="/user/info">
    <img alt="Profile picture of a person wearing a red shirt" height="30" src="https://storage.googleapis.com/a1aa/image/8mDPzM3CYsJbPFKwBE3Wge2pyFTgUoJeX4ejb8cilodL0QXnA.jpg" width="30"/>
    </a>
   </div>
