<div>
    <p><%= new Date().toLocaleDateString() %></p>
    <h1>Welcome back,<%= currUser.name %></h1>
    <p>Always stay updated in your student portal</p>
</div>
<!-- <img src="/images/img2.png" alt="Welcome Image"> -->