<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (error_msg.length > 0) { %>
        <div id="toast">
            <%= error_msg %>
        </div>
    <% } %> 
    <h1>Hello</h1>

    <form action="/user/login" method="POST">
        <label for="email">@Username</label>
        <input type="text" name="username" required>

        <label for="password">@Password</label>
        <input type="text" name="password" required>
        
        <button>Login</button>
    </form>
</body>
</html>