<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/flash.css">
    <style>
       .eye-icon {
      cursor: pointer;
      font-size: 20px;
      right: 5px;  /* Adjust this value to position the icon inside the input */
      position: absolute;
      
    }
    .inputForm {
      position: relative;
      
    }
  </style>
</head>
<body>
  

  <% if (success_msg && success_msg.length>0) { %>
<div id="successToast">
  <div class="info__icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none"><path fill="#393a37" d="m12 1.5c-5.79844 0-10.5 4.70156-10.5 10.5 0 5.7984 4.70156 10.5 10.5 10.5 5.7984 0 10.5-4.7016 10.5-10.5 0-5.79844-4.7016-10.5-10.5-10.5zm.75 15.5625c0 .1031-.0844.1875-.1875.1875h-1.125c-.1031 0-.1875-.0844-.1875-.1875v-6.375c0-.1031.0844-.1875.1875-.1875h1.125c.1031 0 .1875.0844.1875.1875zm-.75-8.0625c-.2944-.00601-.5747-.12718-.7808-.3375-.206-.21032-.3215-.49305-.3215-.7875s.1155-.57718.3215-.7875c.2061-.21032.4864-.33149.7808-.3375.2944.00601.5747.12718.7808.3375.206.21032.3215.49305.3215.7875s-.1155.57718-.3215.7875c-.2061.21032-.4864.33149-.7808.3375z"></path></svg>
  </div>
  <div class="info__title"> <%= success_msg %></div>
  </div>
  <% } %>
  
  <% if (error_msg && error_msg.length>0) { %>
<div id="successToast">
  <div class="info__icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none"><path fill="#393a37" d="m12 1.5c-5.79844 0-10.5 4.70156-10.5 10.5 0 5.7984 4.70156 10.5 10.5 10.5 5.7984 0 10.5-4.7016 10.5-10.5 0-5.79844-4.7016-10.5-10.5-10.5zm.75 15.5625c0 .1031-.0844.1875-.1875.1875h-1.125c-.1031 0-.1875-.0844-.1875-.1875v-6.375c0-.1031.0844-.1875.1875-.1875h1.125c.1031 0 .1875.0844.1875.1875zm-.75-8.0625c-.2944-.00601-.5747-.12718-.7808-.3375-.206-.21032-.3215-.49305-.3215-.7875s.1155-.57718.3215-.7875c.2061-.21032.4864-.33149.7808-.3375.2944.00601.5747.12718.7808.3375.206.21032.3215.49305.3215.7875s-.1155.57718-.3215.7875c-.2061.21032-.4864.33149-.7808.3375z"></path></svg>
  </div>
  <div class="info__title"> <%= error_msg %></div>
  </div>
  <% } %>
  


   
    <div id="form-main-div">
    <form class="form" action="/user/login" method="POST">
        <h3>Welcome Back</h3>
        <div class="flex-column">
          <label>Username</label>
        </div>
          <div class="inputForm">
            <input placeholder="Enter your username" name="username" class="input" type="text">
          </div>
        
        <div class="flex-column">
          <label>Password </label>
        </div>
          <div class="inputForm">
            <input type="password" class="password-field input" name="password" id="password" >
            <i class="fas fa-eye eye-icon" id="togglePassword"></i>
  
          </div>
        
        <div class="flex-row">
          <span class="span"><a href="/user/forget-password">Forget Password?</a></span>
        </div>
        <button type="submit" class="button-submit">Sign In</button>

        <p class="p">Don't have an account? <span class="span"><a href="/user/Signup">Signup</a></span>
      
</form>
</div>

<script>
 
 // Get the password input field and eye icon button
 const passwordField = document.getElementById('password');
    const togglePasswordButton = document.getElementById('togglePassword');

    // Function to toggle the password visibility
    togglePasswordButton.onclick = function() {
      // Check the current type of the password field
      if (passwordField.type === 'password') {
        // If password is hidden, show it
        passwordField.type = 'text';
        togglePasswordButton.classList.remove('fa-eye');  // Remove 'eye' icon
        togglePasswordButton.classList.add('fa-eye-slash');  // Add 'eye-slash' icon
      } else {
        // If password is visible, hide it
        passwordField.type = 'password';
        togglePasswordButton.classList.remove('fa-eye-slash');  // Remove 'eye-slash' icon
        togglePasswordButton.classList.add('fa-eye');  // Add 'eye' icon
      }
    };

    setTimeout(() => {
        const successToast = document.getElementById('successToast');
        const errorToast = document.getElementById('errorToast');
        if (successToast) {
            successToast.style.display = 'none';
        }
    }, 2000); // Adjust timing as needed
  
</script>

</body>
</html>