<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint Box</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
   
    <div id="form-main-div">
    <form class="form" action="/user/complaint/<%=batchName%>/<%=id%>" method="POST">
        <h3>Complaint Desk</h3>
        <div class="flex-column">
          <label>Please Tell Us About Your Problem</label>
        </div>
        <textarea name="complaint" id="" style="width: 350px; height: 150px;"></textarea>
        <button type="submit" class="button-submit">Submit</button>

</form>
</div>

</body>
</html>