<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Details</title>
    <link rel="stylesheet" href="/styles/studentsidebar.css">
</head>
<body>


    <div id="main">

        <div id="content-div">
    <div id="subject ">
        <form action="/create/subject" method="POST">
            <label for="subject">Enter Subject Name</label>
            <input type="text" name="subject">
            <button type="submit">Submit</button>
        </form>
    </div>

    <div id="chapter">
        <form action="/create/chapter" method="POST">
            <label for="subject">Enter Subject Name</label>
            <input type="text" name="subject">
            <button type="submit">Submit</button>

            <label for="chapter">Enter Subject Name</label>
            <input type="text" name="chapter">
            <button type="submit">Submit</button>
        </form>
    </div>

    <div id="topic">
        <form action="/create/topic" method="POST">
            <label for="subject">Enter Subject Name</label>
            <input type="text" name="subject">
            <button type="submit">Submit</button>

            <label for="chapter">Enter Chapter Name</label>
            <input type="text" name="chapter">
            <button type="submit">Submit</button>

            <label for="topic">Enter Topic Name</label>
            <input type="text" name="topic">
            <button type="submit">Submit</button>
        </form>
    </div>
    
</div>

    <div id="header-div-cpm">
    </div>

</div>
    
</body>
</html>